html{
  background-image: url("https://cdn6.bigcommerce.com/s-s5h0wm/product_images/uploaded_images/clemson.png?t=1463517270");
  background-size: auto;
  background-attachment: fixed;
}

h1{
  font-size: 100px;
  text-align: center;
  font-family: 'Sigmar One', cursive;
}
h2{
  font-size: 75px;
  text-align: center;
  font-family: 'Chewy', cursive;
}
p{
  font-weight: bolder;
  font-size: 25px;
  color: green;
}
body{
  padding: 5%;
  margin: 10%;
}
ul{
  font-size: 35px;
}
url(http://68.media.tumblr.com/fa86f902397db9f7ecba6436af115de6/tumblr_mixjm4mQPn1s4zp68o1_250.gif);
}
